
<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nuevo Post
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="crearPost()" [disabled]="post.mensaje.length < 1 || cargandoGeo" color="primary">
        Compartir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="has-header">

  <ion-list>
    <ion-item>
      <ion-label position="floating">Mensaje</ion-label>
      <ion-textarea [(ngModel)]="post.mensaje"></ion-textarea>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label>Posición actual</ion-label>
        <ion-spinner name="lines-small" *ngIf="cargandoGeo"></ion-spinner>
        <ion-toggle slot="end" [(ngModel)]="post.posicion" (ionChange)="getGeo()"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-list>

  <ion-row>
    <ion-col size="6">
    <!-- <ion-input type="file" accept="image/*" id="upload" [(ngModel)]="tempImages" ></ion-input> -->
    <!-- <ion-input type="file" accept="image/png, image/jpeg" id="upload" #sss (ionChange)="procesarImagen2(sss.value)" ></ion-input> -->
    <!-- <input type="file" (change)="onUploadChange($event)"  accept="image/png, image/jpeg" #fileInput multiple/> -->
    <input type="file" name="files" #fileUploader (change)="upload($event.target.files)" accept="image/*">
    <!-- <ion-button expand="full">
      <ion-icon lazy="true" slot="start" name="image"></ion-icon>
      <ion-label slot="end">Upload Image</ion-label>
      <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
        accept="image/png, image/jpeg">
    </ion-button>
    -->
    <!-- 🌝 Renderiza img -->
    <!-- <label class="hoverable" for="fileInput">
      <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
      <div class="hover-text">
        Choose file
        <h4 class="success-message" *ngIf="url"> Uploaded Successfully </h4>
        </div>
      <div class="background"></div>
    </label>
    <br/>
    <input id="fileInput" type='file' (change)="onSelectFile($event)" multiple>
    <button *ngIf="url" (click)="delete()">delete</button> -->

      <!-- <ion-button expand="full" shape="round" (click)="camara()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Cámara
      </ion-button> -->
    </ion-col>
    <ion-col size="6">
      <!-- <ion-button expand="full" shape="round" (click)="libreria()">
        <ion-icon slot="start" name="images"></ion-icon>
        Galería
      </ion-button> -->
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3" *ngFor="let image of tempImages">
      <ion-card>
        <!-- <img [src]="image"> -->
      </ion-card>
    </ion-col>
  </ion-row>
  
</ion-content>